body{background-color: lightblue;}
/* This is the background colour for my first and second page */
h1{text-align: center;
  background-color:Navy; color: #FAF0E6}
/*This is the colour and alignment for my heading*/
.text1{text-align: center; background-color: #FAF0E6; color:#B0C4DE;}
/*This is the colour and alignment for tet on my seconf page*/
footer{background-color: #191970; color: white;}
h2{text-align: center;
  background-color: #B0C4DE; color: Navy;}
  /*This is the colour and aligment for my seconf heading on my first page*/
img{display: block;
  margin: 0 auto;
  border: 3px solid #191970}
/* This is the iage display for the image on my first page*/
video{
display: block;
margin: 0 auto;}
/*This is the display for the video on my first page*/
h3{
  text-align: center;
  background-color:#FAF0E6;}
  /* This is the 3rd heaind on my first page colour and aligment*/
h4{
  text-align: center;
  background-color: #FAF0E6;}
/* This the colour and aligment for text on my first page*/
h5{
  text-align: center;
  background-color: #FAF0E6;}
/* This sthe colour and aligment for text on my fisrt page*/
  .text2{
    text-align: center;
    background-color:Navy; color: #FAF0E6; }
/* This is the heading for my seconf page the colour and aligment*/
  .text3{
  text-align: center;
  background-color: #FAF0E6; color:#B0C4DE;}
/* This is the colour and alignment for text on my second page*/
  .container{
    display: flex;
    align-items: center;}
/*This is a div that i named container and i used to change the display */
  .autio-col{
  display: flex;
  align-items: center;}
/*This this a dive that i called autio.col and i used to cagne the display of the autio on my seconf page */
  .box{
    display: flex;
    align-items: center;}
    /* This is a div that i called box and i used to change the dispaly on the images on my second page */
  .text4{
    text-align:center;
    background-color: #B0C4DE; color: white;}
/*This is the colour and display for the text on my second page*/
  .text5{
    background-color: #FAF0E6; color:#B0C4DE;
    display: inline;}
/* This is the colour and display for the text and display for my second page*/
  .text6{
    text-align:center;
    background-color: #B0C4DE; color: white;}
.text7{
  background-color: #FAF0E6; color:#B0C4DE;
  display: inline;}
/*This is the colour and display for my second page*/
